/* -------START: COMMON STYLES---------------- */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Calibre", "San Francisco", "SF Pro Text", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  background-color: var(--theme-blue);
  color: var(--font-color-primary);
}

:root {
  --theme-blue: #192231;
  --theme-pink: #985E6D;
  --font-color-primary: #FFFFFF;
  --font-color-secondary: #B4B6C3;
  --border-radius-container: 8px;
  --theme-box-shadow: 0px 3px 10px 5px rgba(20, 20, 20, 0.30);
  --theme-grid-boxes-background: rgba(73, 78, 104, 0.5);
  --desktop-screen-size: 1200px;
  --tablet-screen-size: 900px;
  --mobile-screen-size: 500px;
  --profile-image-width: 250px;
  --profile-image-height: 250px;
}

.clear-fix {
  clear: both;
}

.body-wrapper {
  width: 100%;
  position: relative;

}

.content-wrapper {
  width: 80%;
  margin: 80px auto;
  overflow: hidden;
}

.sectional-wrapper {
  margin: 50px 0;
  overflow: hidden;
  padding-top: 70px;
}

.section-header {
  font-size: 30px;
  font-weight: bold;
  padding-top: 70px;
}

footer {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  color: var(--theme-pink);
}

/* -------END: COMMON STYLES---------------- */

/* -------START: SOCIAL MEDIA BAR STYLES---------------- */
#social-link-wrapper {
  position: fixed;
  bottom: 0;
  right: 50px;
}

.social-item-list {
  list-style: none;
}

.social-item-list li {
  margin-bottom: 20px;
}

.social-item-list img {
  width: 30px;
  height: 30px;
}

.social-item-list::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--theme-pink);
}

/* -------END: SOCIAL MEDIA BAR STYLES---------------- */