/* -------START: COMMON STYLES---------------- */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Calibre", "San Francisco", "SF Pro Text", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  background-color: var(--theme-blue);
  color: var(--font-color-primary);
}

:root {
  --theme-blue: #192231;
  --theme-pink: #985E6D;
  --font-color-primary: #FFFFFF;
  --font-color-secondary: #B4B6C3;
  --border-radius-container: 8px;
  --theme-box-shadow: 0px 3px 10px 5px rgba(20, 20, 20, 0.30);
  --theme-grid-boxes-background: rgba(73, 78, 104, 0.5);
  --profile-image-width: 250px;
  --profile-image-height: 250px;
}

.clear-fix {
  clear: both;
}

.body-wrapper {
  width: 100%;
  position: relative;

}

.content-wrapper {
  width: 80%;
  margin: 80px auto;
  overflow: hidden;
}

.sectional-wrapper {
  margin: 50px 0;
  overflow: hidden;
  padding-top: 70px;
}

.section-header {
  font-size: 30px;
  font-weight: bold;
  padding-top: 70px;
}

footer {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  color: var(--theme-pink);
}

/* -------END: COMMON STYLES---------------- */

/* -------START: SOCIAL MEDIA BAR STYLES---------------- */
#social-link-wrapper {
  position: fixed;
  bottom: 0;
  right: 50px;
}

.social-item-list {
  list-style: none;
}

.social-item-list li {
  margin-bottom: 20px;
}

.social-item-list img {
  width: 30px;
  height: 30px;
}

.social-item-list::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--theme-pink);
}

/* -------END: SOCIAL MEDIA BAR STYLES---------------- */

/* ------ START: MEDIA QUERIES -------------------*/
@media only screen and (max-width: 1100px) {

  #skills .skills-badge-wrapper {
    flex-direction: column;
  }

  #skills .skills-badge-wrapper .skills-description-badges {
    width: 100%;
  }

  #skills .badges-wrapper {
    justify-content: space-evenly;
  }

  #projects .project-image img {
    width: 100%;
  }

}

@media only screen and (max-width: 910px) {

  #experience .experience-outer-container {
    flex-direction: column;
  }

  #experience .experience-outer-container div {
    width: 100%;
  }

  #experience .roles-played-list ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  #experience .roles-played-list ul li {
    text-decoration: none;
    display: block;
  }

  #experience .roles-played-list .job-item {
    border-left: 0;
    height: 100px;
    border-top: 3px solid rgba(255, 254, 254, 0.09);

  }

  #experience .roles-played-list .job-active {
    border-left: 0;
    border-top: 3px solid var(--theme-pink);
    background-color: var(--theme-grid-boxes-background);
  }

  #projects .project-item {
    border-bottom: 1px solid var(--theme-grid-boxes-background);
  }

  #projects .project-content-image-container {
    flex-direction: column;
    margin-bottom: 50px;
  }

  #projects .project-content-image-container>div {
    width: 100%;
  }

  #projects .project-image img {
    width: 400px;
  }

}

@media only screen and (max-width: 850px) {

  #header-wrapper {
    padding: 5px 5% !important;
  }

  .header-container {
    position: relative !important;
  }

  #header-wrapper .header-container .menu-container {
    position: fixed;
    top: 60px;
    right: 0;
    width: 50%;
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2C3543;
  }

  #header-wrapper .header-container .menu-container div a {
    font-size: 18px;
    background-color: #2C3543;
  }

  #social-link-wrapper {
    display: none !important;
  }

  .content-wrapper {
    width: 90%;
  }


  .social-media-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;

  }

  .social-media-container img {
    width: 30px;
    height: 30px;
  }


  #about .about-wrapper,
  #about .stat-download-container {
    flex-direction: column;
  }

  #about .about-content-container,
  .about-image-container {
    width: 100%;
    margin-bottom: 50px;
  }

  #about .about-image-container {
    flex-direction: column;
  }

  #about .stat-container {
    margin: 30px 0 50px;
  }

  #experience .experience-description {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--theme-grid-boxes-background);
  }
}

@media only screen and (max-width: 650px) {
  #about .stat-container {
    flex-direction: column;
    gap: 20px;
  }
}